[submodule "Dyr-El-python"]
	path = Dyr-El-python
	url = https://github.com/Dyr-El/AdventOfCode2022.git
[submodule "johan1a-scala"]
	path = johan1a-scala
	url = https://github.com/johan1a/advent-of-code-2022.git
[submodule "squid-box-csharp"]
	path = squid-box-csharp
	url = https://github.com/squid-box/adventofcode2022.git
[submodule "jofafrazze-csharp"]
	path = jofafrazze-csharp
	url = https://github.com/jofafrazze/advent_of_code_2022.git
[submodule "p1xelHer0-ocaml"]
	path = p1xelHer0-ocaml
  url = git@github.com:p1xelHer0/advent-of-code-2022-ocaml.git
[submodule "nisse-python"]
	path = nisse-python
	url = https://github.com/nilskj/AdventOfCode2022.git
[submodule "ygge-java"]
	path = ygge-java
	url = https://github.com/ygge/adventofcode2022
[submodule "simon-awk"]
	path = simon-awk
	url = https://github.com/simon-nystrom/adventofcode-2022.git
[submodule "albert-arvidsson-elixir"]
	path = albert-arvidsson-elixir
	url = git@github.com:scmx/advent-of-code-2022-elixir.git
[submodule "pin2t-go-swift"]
	path = pin2t-go-swift
	url = https://github.com/pin2t/aoc2022
[submodule "idrougge-oorexx"]
	path = idrougge-oorexx
	url = https://github.com/idrougge/advent-of-code-2022-oorexx.git
[submodule "emil-priver-aoc"]
	path = emil-priver-aoc
	url = https://github.com/emilpriver/advent-of-code.git
[submodule "f-o-python"]
	path = f-o-python
	url = https://github.com/f-o/advent-of-code-2022
